<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tinc.Communication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Tinc.Communication.Properties.Settings>
            <setting name="TincExec" serializeAs="String">
                <value>lib\tinc.exe</value>
            </setting>
            <setting name="TincDaemon" serializeAs="String">
                <value>lib\tincd.exe</value>
            </setting>
            <setting name="ManagementPort" serializeAs="String">
                <value>8080</value>
            </setting>
        </Tinc.Communication.Properties.Settings>
    </applicationSettings>
</configuration>